# Define XMPP Bots and their server/chatroom
[mainbot]
jid=ernie@srvny1
password=test
chatroom=bottest@conference.srvny1
nickname=Ernie

[secondbot]
jid=ernie@srvny1
password=test
chatroom=bottest2@conference.srvny1
nickname=Ernie

# Define subscriptions, filters, and which bot will report them

[dvny1]
report=mainbot,secondbot
zmqurl=tcp://10.10.5.23:5000
filters=DNS,LDAP,SMTP,MYSQL,PING

[localhost]
report=mainbot
zmqurl=tcp://localhost:5556
filters=10001